* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

p {
  font-size: 20px;
  color: #a1aeb7;
  font-family: "Lato", sans-serif;
}

.Allheading2 {
  font-size: 45px;
  font-family: "Ubuntu", sans-serif;
  color: rgb(62, 62, 62);
}

.btn {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  background-color: #0095ff;
  padding: 10px 15px;
  border-radius: 30px;
  border: 2px solid #0095ff;
  transition: all 0.4s ease;
}

.btn:hover {
  color: #0095ff;
  background-color: transparent;
  transition: all 0.4s ease;
}

nav {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  height: 66px;
  padding: 0px 50px;
  align-items: center;
  box-shadow: 0px 0px 8px -2px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 0px 8px -2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 8px -2px rgba(0, 0, 0, 0.25);
  position: -webkit-sticky;
  position: sticky;
  z-index: 997;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
nav .navBar ul {
  display: flex;
  align-items: center;
}
nav .navBar ul li {
  list-style-type: none;
  margin-right: 20px;
}
nav .navBar ul li a {
  font-weight: 600;
  text-decoration: none;
  color: #3e3e3e;
  font-size: 16px;
}

nav .menu-btn {
  position: relative;
  justify-content: center;
  align-items: center;
  width: 65px;
  height: 30px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  display: none;
}

nav .menu-btn .hb-menu {
  width: 45px;
  height: 4px;
  background-color: #000;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}

nav .menu-btn .hb-menu::before,
nav .menu-btn .hb-menu::after {
  content: "";
  position: absolute;
  width: 45px;
  height: 4px;
  background-color: #000;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}

nav .menu-btn .hb-menu::before {
  transform: translateY(-12px);
}

nav .menu-btn .hb-menu::after {
  transform: translateY(12px);
}

nav .menu-btn.open .hb-menu {
  transform: translateX(-50px) !important;
  background-color: transparent !important;
}

nav .menu-btn.open .hb-menu::before {
  transform: rotate(45deg) translate(35px, -35px) !important;
}

nav .menu-btn.open .hb-menu::after {
  transform: rotate(-45deg) translate(35px, 35px) !important;
}

.side-menu.none {
  right: -100%;
  transition: all 0.5s ease-in-out;
}

.side-menu {
  position: fixed;
  top: 60px;
  right: 0px;
  transition: all 0.5s ease-in-out;
  background-color: #0095ff;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 20px;
  z-index: 996;
}
.side-menu .gtcBtn {
  background-color: #fff;
  color: #0095ff;
  padding: 10px 20px;
  border-radius: 30px;
}
.side-menu ul li {
  padding: 20px;
  list-style: none;
}
.side-menu ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 26px;
}

.section-heading {
  font-size: 45px;
  font-family: "Ubuntu", sans-serif;
  color: #3e3e3e;
}

.container {
  max-width: 1400px;
  margin: 0px auto;
  padding: 0px 50px;
}

.section-container {
  padding-top: 80px;
  padding-bottom: 110px;
}

header {
  background-color: hwb(0 98% 4%);
}

.container {
  /*HERO*/
  /*TESTIMONIAL SECTION*/
}
.container .hero-container {
  height: 100vh;
  padding: 100px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .hero-container .hero-text {
  width: 50%;
}
.container .hero-container .hero-text .heading-hero {
  max-width: 590px;
}
.container .hero-container .hero-text .heading-hero .animated-block {
  display: inline-block;
  position: relative;
}
.container .hero-container .hero-text .heading-hero .animated-block .mark {
  position: relative;
  z-index: 11;
}
.container .hero-container .hero-text .heading-hero .animated-block .animated-div {
  position: absolute;
  height: 25px;
  width: 100%;
  top: auto;
  left: 0%;
  right: 0%;
  bottom: 0%;
  background-color: rgba(255, 89, 0, 0.6);
  z-index: 10;
}
.container .hero-container .hero-text .heading-hero .hero-heading {
  font-size: 48px;
  margin-bottom: 25px;
  display: inline;
  font-family: "Cabin", sans-serif;
}
.container .hero-container .hero-text .hero-paragraph {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 5%;
  max-width: 485px;
}
.container .hero-container .hero-text .hero-btn-text {
  display: flex;
  align-items: center;
}
.container .hero-container .hero-text .hero-btn-text p {
  margin-left: 20px;
  color: #3e3e3e;
  font-weight: 600;
}
.container .hero-container .hero-text .companys {
  margin-top: 140px;
  display: flex;
  align-items: center;
}
.container .hero-container .hero-text .companys img {
  margin-right: 45px;
  display: block;
}
.container .hero-container .hero-img img {
  width: 100%;
}
.container .testimonial-section #t-head {
  text-align: center;
  margin-bottom: 70px;
  position: relative;
}
.container .testimonial-section #t-head .prev-next-btn {
  position: absolute;
  top: 25%;
  right: 0;
  width: auto;
}
.container .testimonial-section #t-head .section-heading {
  font-size: 45px;
  font-family: "Ubuntu", sans-serif;
  color: #3e3e3e;
}
.container .testimonial-section #testimonial {
  width: 1300px;
  max-width: 100%;
  overflow: hidden;
  scroll-behavior: smooth;
  -ms-scroll-snap-type: both;
      scroll-snap-type: both;
}
.container .testimonial-section #testimonial .testimonial-container {
  display: flex;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.container .testimonial-section #testimonial .testimonial-container .card {
  width: 400px;
  height: 250px;
  overflow: hidden;
  margin: 17.5px;
  padding: 30px;
  position: relative;
  scroll-snap-align: start;
}
.container .testimonial-section #testimonial .testimonial-container .card .card-imgName {
  display: flex;
  margin-bottom: 20px;
}
.container .testimonial-section #testimonial .testimonial-container .card .card-imgName img {
  border-radius: 50%;
  margin-right: 15px;
  width: 20%;
}
.container .testimonial-section #testimonial .testimonial-container .card .card-imgName .username h2 {
  font-size: 25px;
  color: #000000;
}
.container .testimonial-section #testimonial .testimonial-container .card .card-imgName .username .userBusiness {
  color: #a1aeb7;
  font-size: 16px;
}
.container .testimonial-section #testimonial .testimonial-container .card .content-testimonial p {
  max-width: 300px;
}
.container .testimonial-section .testimonial-line {
  width: 340px;
  height: 1px;
  background-color: #0095ff;
  margin: 0px auto;
}

#countDown {
  background-color: #0095ff;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
  position: relative;
}
#countDown .ctimg1 {
  position: absolute;
  left: -60px;
  top: -75px;
}
#countDown .ctimg2 {
  position: absolute;
  right: -53px;
  top: -70px;
}
#countDown .ctimg3 {
  position: absolute;
  right: -59px;
  bottom: -70px;
}
#countDown .ctimg4 {
  position: absolute;
  left: -46px;
  bottom: -45px;
}
#countDown .count-content {
  text-align: center;
}
#countDown .count-content .preHeading .prehead {
  color: #fff;
  font-size: 30px;
}
#countDown .count-content .line {
  width: 80%;
  height: 2px;
  background-color: #fff;
  margin-bottom: 20px;
  margin: 13px auto;
}
#countDown .count-content .joinheading {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 30px;
}
#countDown .count-content .counter {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#countDown .count-content .counter .counter-element {
  padding: 5px 15px;
  border: 3px solid #fff;
  font-size: 40px;
  color: #fff;
  margin-bottom: 30px;
  display: flex;
}
#countDown .count-content .counter .timeFormat {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 40px;
  color: #fff;
}
#countDown .count-content .counter .timeFormat .format {
  font-size: 20px;
}
#countDown .count-content .counter .join-btn {
  background-color: #fff;
  color: #0095ff;
  text-transform: uppercase;
}

.popupJoin .overlay-bg {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100%;
  z-index: 998;
}
.popupJoin .joinBlock {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 40%;
  height: auto;
  z-index: 999;
  padding: 40px;
}
.popupJoin .joinBlock #closeModal {
  position: absolute;
  right: 20px;
  top: 10px;
  font-weight: 700;
  cursor: pointer;
}
.popupJoin .joinBlock form .inpBlokJoin {
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.popupJoin .joinBlock form .inpBlokJoin label {
  display: block;
  text-align: center;
  margin-bottom: 10px;
}
.popupJoin .joinBlock form .inpBlokJoin input[type=text] {
  width: 90%;
  margin-bottom: 10px;
  height: 25px;
}
.popupJoin .joinBlock form .inpBlokJoin #errorJoin {
  color: #ff0000;
}
.popupJoin .joinBlock form .inpBlokJoin textarea {
  width: 90%;
  resize: none;
}
.popupJoin .joinBlock form .inpBlokJoin .joinbtn {
  width: auto;
  margin-top: 20px;
}
.popupJoin .joinBlock .scsJoin {
  text-align: center;
  font-weight: 800;
  color: #fff;
  padding: 25px;
  font-size: 32px;
  background-color: rgb(125, 248, 146);
}

.errorInput {
  border: 2px solid #ff0000;
}

/*WWD SECTION*/
#wwd-section {
  background-color: #fafafa;
  padding-top: 110px;
  padding-bottom: 160px;
}
#wwd-section .container .wwd-heading {
  text-align: center;
  margin-bottom: 100px;
}
#wwd-section .container .wwd-container {
  display: flex;
  justify-content: space-between;
}
#wwd-section .container .wwd-container .wwd-item {
  position: relative;
  height: 250px;
}
#wwd-section .container .wwd-container .wwd-item .item-heading {
  display: flex;
}
#wwd-section .container .wwd-container .wwd-item .item-heading .item-num {
  display: flex;
  align-items: center;
}
#wwd-section .container .wwd-container .wwd-item .item-heading .item-num .item-line {
  width: 74px;
  height: 4px;
  background-color: #4cb5ff;
}
#wwd-section .container .wwd-container .wwd-item .item-heading .item-num .num {
  color: #4cb5ff;
  margin-right: 5px;
}
#wwd-section .container .wwd-container .wwd-item .item-heading .item-hd .item-h3 {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 600;
  margin-left: 10px;
}
#wwd-section .container .wwd-container .wwd-item .item-body {
  display: flex;
  margin-top: 20px;
  margin-left: 23px;
}
#wwd-section .container .wwd-container .wwd-item .item-body .item-img {
  margin-left: 24px;
}
#wwd-section .container .wwd-container .wwd-item .item-body .item-content {
  margin-left: 27px;
}
#wwd-section .container .wwd-container .wwd-item .item-body .item-content .item-p {
  max-width: 290px;
  font-size: 18px;
}
#wwd-section .container .wwd-container .wwd-item .item-body .item-content .item-tags {
  margin-top: 37px;
  position: absolute;
  bottom: 0;
}
#wwd-section .container .wwd-container .wwd-item .item-body .item-content .item-tags .tag {
  text-transform: uppercase;
  font-weight: 500;
  margin-top: 5px;
  font-size: 16px;
}
#wwd-section .container .wwd-container .wwd-item .item-body .item-content .item-tags .tag-blue {
  color: #4cb5ff;
}

/*BENEFITS SECTION*/
#benefits {
  display: flex;
  justify-content: space-between;
}
#benefits .benefit-content .benefit-ilustration {
  width: 50%;
}
#benefits .benefit-content .benefit-ilustration img {
  width: 100%;
}
#benefits .benefit-content .benef-content {
  width: 50%;
}
#benefits .benefit-content .benef-heading {
  margin-bottom: 64px;
  padding: 20px;
}
#benefits .benefit-content .benef-heading .benef-headingCt {
  display: flex;
  align-items: center;
}
#benefits .benefit-content .benef-heading .benef-headingCt .line {
  margin-left: 20px;
  width: 150px;
  height: 8px;
  background-color: #0095ff;
}
#benefits .benefit-content .benef-heading .section-heading {
  text-transform: uppercase;
}
#benefits .benefit-content .benef-heading p {
  color: #3e3e3e;
}
#benefits .benefit-content .allBenefit .benefit {
  padding: 20px;
}
#benefits .benefit-content .allBenefit .benefit .benefit-name {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
#benefits .benefit-content .allBenefit .benefit .benefit-name .circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ff5900;
}
#benefits .benefit-content .allBenefit .benefit .benefit-name .benefit-heading-name {
  margin-left: 20px;
  font-family: "Ubuntu", sans-serif;
  text-transform: uppercase;
  font-size: 24px;
}
#benefits .benefit-content .allBenefit .benefit .benefit-p {
  margin-left: 40px;
  font-family: "Lato", sans-serif;
  color: #3e3e3e;
  font-size: 19px;
}

/*PROJECT SECTION*/
#project-section {
  height: auto;
}
#project-section .proj-heading {
  text-align: center;
}
#project-section .proj-heading .projHeading {
  text-transform: uppercase;
}
#project-section .proj-btns {
  margin-top: 170px;
  display: flex;
  justify-content: space-evenly;
  height: 50px;
}
#project-section .proj-btns .proj-btn {
  border: none;
  padding: 15px 25px;
  font-size: 18px;
  background-color: transparent;
  color: #000000;
  border: none;
  transition: all 0.3s ease;
  border-radius: 0px;
}
#project-section .proj-btns .proj-btn:hover {
  transition: all 0.3s ease;
  border-bottom: 2px solid black;
}
#project-section .proj-content {
  margin-top: 70px;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  grid-gap: 30px;
}
#project-section .proj-content .project-none {
  display: none;
}
#project-section .proj-content .single-project {
  width: 350px;
  box-shadow: 3px 6px 24px -3px rgba(0, 0, 0, 0.58);
  overflow: hidden;
  height: 370px;
  display: block;
}
#project-section .proj-content .single-project img {
  height: 100%;
  width: 100%;
  transition: all 0.3s ease;
}
#project-section .proj-content .single-project img:hover {
  transform: scale(1.1);
  transition: all 0.3s ease;
}

/*PROCESS SECTION*/
#process-section .process-heading {
  text-align: center;
}
#process-section .process-content {
  display: flex;
  justify-content: space-evenly;
  margin-top: 200px;
}
#process-section .process-content .process {
  position: relative;
  width: 300px;
  z-index: 16;
}
#process-section .process-content .process h3 {
  position: relative;
  z-index: 16;
}
#process-section .process-content .process p {
  font-size: 16px;
  font-weight: 100;
}
#process-section .process-content .process .num-proj {
  z-index: 15;
  position: absolute;
  font-size: 200px;
  color: rgba(194, 209, 217, 0.6);
  left: 3%;
  bottom: 50%;
  transform: translate(50%, 15%);
  font-family: "Ubuntu", sans-serif;
}
#process-section .process-btn {
  margin-top: 60px;
  text-align: center;
}

/*WHO WE ARE*/
#wwa {
  height: 85vh;
  background-color: #f7fcff;
  display: flex;
}
#wwa .wwa-content {
  position: relative;
  padding-left: 50px;
  width: 50%;
}
#wwa .wwa-content .wwa-heading {
  padding-bottom: 40px;
  padding-top: 60px;
  display: flex;
  justify-content: center;
}
#wwa .wwa-content .wwa-tc {
  position: absolute;
  top: 25%;
  max-width: 750px;
}
#wwa .wwa-content .wwa-tc .wwa-text {
  display: flex;
  margin-bottom: 30px;
  align-items: center;
}
#wwa .wwa-content .wwa-tc .wwa-text p {
  color: #000000;
  font-size: 20px;
  line-height: 45px;
}
#wwa .wwa-content .wwa-tc .wwa-text .v-line {
  margin-right: 15px;
  width: 6px;
  height: 150px;
  background-color: #0095ff;
}
#wwa .wwa-content .wwa-tc .wwa-btn {
  margin-top: 60px;
}
#wwa .wwa-content .wwa-tc .wwa-btn a {
  padding: 15px 25px;
}
#wwa .wwa-img {
  width: 50%;
  background-image: url(../img/wwaImg.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 20;
}
#wwa .wwa-img .wwa-overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  z-index: 21;
  background-color: rgba(0, 0, 0, 0.4);
}

/*CALL TO ACTION*/
#cta-section {
  background-image: url(../img/cta.jpg);
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  position: relative;
  height: 70vh;
}
#cta-section .overlay {
  width: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.62);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 19;
  color: #fff;
  padding-top: 160px;
  padding-bottom: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#cta-section .overlay .cta h3 {
  margin-bottom: 20px;
  font-size: 37px;
  font-weight: 600;
}
#cta-section .overlay .cta h2 {
  margin-bottom: 80px;
  font-size: 19px;
  font-weight: 600;
}

/*FOOTER*/
footer {
  background-color: hwb(0 98% 4%);
  text-align: center;
}
footer .footer-container {
  padding-bottom: 50px;
}
footer .footer-container .navfooter {
  margin-top: 80px;
}
footer .footer-container .navfooter ul {
  display: flex;
  justify-content: center;
}
footer .footer-container .navfooter ul li {
  list-style: none;
  padding: 20px;
  margin-right: 30px;
}
footer .footer-container .navfooter ul li a {
  font-size: 20px;
  color: #3e3e3e;
  text-decoration: none;
}

.sign-up-ct {
  width: 100%;
  height: 100%;
  display: flex;
}
.sign-up-ct .left-block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100vh;
  background-color: #0095ff;
}
.sign-up-ct .left-block img {
  width: 80%;
}
.sign-up-ct .right-block {
  display: flex;
  align-items: center;
  width: 50%;
  height: 100vh;
  padding-left: 40px;
  padding-right: 100px;
  position: relative;
}
.sign-up-ct .right-block #backbtn {
  position: absolute;
  top: 10px;
  right: 10px;
  text-decoration: none;
  color: #3e3e3e;
  font-weight: 600;
}
.sign-up-ct .right-block #backbtn .arrow {
  margin-right: 5px;
}
.sign-up-ct .right-block .form-block {
  width: 100%;
}
.sign-up-ct .right-block .form-block p {
  font-family: "Ubuntu", sans-serif;
}
.sign-up-ct .right-block .form-block label {
  font-family: "Ubuntu", sans-serif;
}
.sign-up-ct .right-block .form-block .su-heading {
  font-family: "Ubuntu", sans-serif;
  font-size: 40px;
  margin-bottom: 40px;
}
.sign-up-ct .right-block .form-block .blue-mark {
  color: #0095ff;
}
.sign-up-ct .right-block .form-block form {
  width: 100%;
}
.sign-up-ct .right-block .form-block form input {
  margin-top: 5px;
  background-color: #dedede;
  border-radius: 5px;
  padding: 5px;
  border: none;
}
.sign-up-ct .right-block .form-block form button {
  margin-top: 50px;
}
.sign-up-ct .right-block .form-block form label {
  font-family: "Ubuntu", sans-serif;
}
.sign-up-ct .right-block .form-block form .fl-name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.sign-up-ct .right-block .form-block form .fl-name .firstLastN {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.sign-up-ct .right-block .form-block form .fl-name .firstLastN input {
  height: 30px;
}
.sign-up-ct .right-block .form-block form .fl-name .firstLastN:first-child {
  margin-right: 10px;
}
.sign-up-ct .right-block .form-block .form-ct {
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.sign-up-ct .right-block .form-block .form-ct .radio-ct {
  display: flex;
}
.sign-up-ct .right-block .form-block .form-ct .radio-ct .flex-el {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.sign-up-ct .right-block .form-block .form-ct .radio-ct .flex-el input {
  margin-right: 10px;
}
.sign-up-ct .right-block .form-block .form-ct .flex-el {
  display: flex;
  align-items: center;
}
.sign-up-ct .right-block .form-block .form-ct .flex-el input[type=checkbox] {
  margin-right: 10px;
}
.sign-up-ct .right-block .form-block .form-ct input {
  height: 30px;
}
.sign-up-ct .right-block .form-block .form-ct .ddl-container {
  display: flex;
}
.sign-up-ct .right-block .form-block .form-ct .ddl-container .ddl {
  margin-right: 10px;
}
.sign-up-ct .right-block .form-block .cb-flex {
  margin-top: 20px;
  display: flex;
  align-items: center;
}
.sign-up-ct .right-block .form-block .cb-flex input {
  margin-right: 10px;
  margin-top: 0px;
}
.sign-up-ct .right-block .form-block .cb-flex p {
  font-size: 14px;
}

.error {
  color: #ff0000;
  margin-top: 5px;
}

.message {
  font-size: 24px;
  padding: 10px 0px;
  text-align: center;
}

.success {
  background-color: rgb(125, 248, 146);
  padding: 10px;
}

@media screen and (max-width: 1120px) {
  .container .hero-container .hero-text .heading-hero .hero-heading {
    font-size: 41px;
  }
  #wwa .wwa-content .wwa-tc .wwa-text p {
    font-size: 18px;
    margin-right: 20px;
  }
  #project-section .proj-content {
    grid-template-columns: auto auto;
  }
  #project-section {
    height: auto;
  }
}
@media screen and (max-width: 1040px) {
  .btn {
    width: 152px;
    text-align: center;
  }
  .container .testimonial-section #testimonial .testimonial-container .card {
    width: calc(50vw - 35px);
  }
  #benefits .benefit-ilustration {
    width: 90%;
  }
  #benefits .benefit-ilustration img {
    width: 100%;
  }
  #benefits .benefit-content .benef-heading .benef-headingCt .line {
    width: 120px;
  }
  #benefits .benefit-content .benef-heading .section-heading {
    font-size: 40px;
  }
  .Allheading2 {
    font-size: 40px;
  }
  #benefits .benefit-content .benef-heading p {
    font-size: 18px;
  }
  #benefits .benefit-content .allBenefit .benefit .benefit-name .benefit-heading-name {
    font-size: 22px;
  }
  #benefits .benefit-content .allBenefit .benefit .benefit-p {
    font-size: 16px;
  }
  #wwd-section .container .wwd-container .wwd-item .item-heading .item-hd .item-h3 {
    font-size: 22px;
  }
}
@media screen and (max-width: 1025px) {
  header .container .hero-container {
    height: auto;
  }
  header .container .hero-container .hero-text {
    width: 70%;
  }
  header .container .hero-container .hero-text .heading-hero .hero-heading {
    font-size: 42px;
    margin-bottom: 25px;
    display: inline;
    font-family: "Cabin", sans-serif;
  }
  header .container .hero-container .hero-text .companys {
    margin-top: 100px;
    display: flex;
    align-items: center;
  }
  header .container .hero-container .hero-text .companys img {
    margin-right: 45px;
    display: block;
    width: 10%;
  }
  .container .testimonial-section #testimonial .testimonial-container .card {
    width: calc(50vw - 35px);
  }
  .container #benefits .benefit-ilustration {
    display: flex;
    align-items: center;
    width: 50%;
  }
  .container #benefits .benefit-ilustration img {
    width: 100%;
  }
  .container #benefits .benefit-content {
    width: 50%;
  }
  .container #benefits .benefit-content .benef-heading p {
    font-size: 18px;
  }
  .container #benefits .benefit-content .allBenefit .benefit .benefit-p {
    font-size: 18px;
  }
  .container #project-section {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  .container #project-section .proj-content {
    grid-template-columns: auto auto;
  }
  #wwa .wwa-content .wwa-tc .wwa-text p {
    font-size: 18px;
    margin-right: 20px;
  }
  #wwd-section .container .wwd-container .wwd-item .item-heading .item-hd .item-h3 {
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 600;
    margin-left: 10px;
  }
  #wwd-section .container .wwd-container .wwd-item .item-body .item-content {
    margin-left: 27px;
  }
  #wwd-section .container .wwd-container .wwd-item .item-body .item-content .item-p {
    max-width: 290px;
    font-size: 16px;
  }
  #wwd-section .container .wwd-container .wwd-item .item-body .item-content .item-tags .tag {
    font-size: 14px;
  }
  .sign-up-ct .right-block .form-block .su-heading {
    font-size: 34px;
  }
  .container .testimonial-section #testimonial .testimonial-container .card {
    margin: 0px;
  }
  .popupJoin .joinBlock {
    width: 70%;
  }
}
@media screen and (max-width: 850px) {
  nav .navBar ul {
    display: none;
  }
  nav .menu-btn {
    display: flex;
  }
  header {
    background-color: transparent;
  }
  header .container .hero-container {
    padding: 40px 0px;
    flex-direction: column;
    background-color: hwb(0 98% 4%);
    border-radius: 28px;
    margin-top: 40px;
  }
  header .container .hero-container .hero-img {
    width: 50%;
  }
  #wwa .wwa-content .wwa-tc .wwa-text p {
    font-size: 16px;
    line-height: 29px;
  }
  .container .testimonial-section #testimonial .testimonial-container .card .card-imgName .username .userBusiness {
    font-size: 14px;
  }
  #wwd-section .container .wwd-container {
    flex-direction: column;
    align-items: center;
  }
  #wwd-section .container .wwd-container .wwd-item {
    margin-top: 30px;
  }
  .sign-up-ct .right-block .form-block .su-heading {
    font-size: 30px;
  }
  #countDown .ctimg1,
#countDown .ctimg2,
#countDown .ctimg3,
#countDown .ctimg4 {
    width: 20%;
  }
  #countDown .ctimg3 {
    bottom: -45px;
  }
}
@media screen and (max-width: 769px) {
  .container .testimonial-section #t-head .section-heading {
    font-size: 38px;
  }
  .container .testimonial-section #t-head .prev-next-btn {
    top: 15%;
  }
  .container .testimonial-section #testimonial .testimonial-container .card .content-testimonial p {
    font-size: 18px;
  }
  .container .testimonial-section #testimonial .testimonial-container .card .card-imgName {
    flex-direction: column;
  }
  .container .testimonial-section #testimonial .testimonial-container .card .card-imgName img {
    margin-right: 0px;
  }
  .container .testimonial-section #testimonial .testimonial-container .card .card-imgName .username .userBusiness {
    font-size: 15px;
  }
  #benefits {
    flex-direction: column-reverse;
  }
  .container #benefits .benefit-ilustration {
    width: 100%;
    justify-content: center;
  }
  .container #benefits .benefit-ilustration img {
    width: 70%;
  }
  .container #benefits .benefit-content {
    width: 100%;
  }
  #wwa .wwa-content .wwa-tc .wwa-text p {
    font-size: 16px;
    line-height: 33px;
  }
  .Allheading2 {
    font-size: 36px;
  }
  #project-section .proj-content .single-project {
    width: 330px;
    height: 345px;
  }
  #process-section .process-content .process {
    padding: 20px;
  }
}
@media screen and (max-width: 710px) {
  .container #project-section .proj-content {
    grid-template-columns: auto;
  }
  .sign-up-ct {
    flex-direction: column-reverse;
  }
  .sign-up-ct .left-block {
    width: 100%;
  }
  .sign-up-ct .right-block {
    width: 100%;
    padding: 40px;
    height: 100%;
  }
  #countDown .ctimg1 {
    left: -55px;
    top: -46px;
  }
  #countDown .ctimg2 {
    right: -36px;
    top: -52px;
  }
  #countDown .ctimg3 {
    bottom: -36px;
    right: -34px;
  }
}
@media screen and (max-width: 666px) {
  .container .hero-container .hero-text .heading-hero .animated-block .animated-div.animate-business {
    width: 50%;
  }
  #wwa .wwa-img {
    display: none;
  }
  #wwa .wwa-content {
    width: 100%;
  }
  #process-section .process-content {
    flex-direction: column;
    align-items: center;
  }
  #process-section .process-content .process {
    margin-bottom: 100px;
  }
  #countDown .count-content .counter .counter-element {
    font-size: 30px;
  }
  #countDown .count-content .counter .counter-element .timeFormat {
    font-size: 30px;
  }
}
@media screen and (max-width: 550px) {
  .container .testimonial-section #testimonial .testimonial-container .card {
    width: calc(100vw - 35px);
  }
  .container .testimonial-section #t-head .section-heading {
    font-size: 34px;
  }
  .container .hero-container .hero-text .hero-btn-text p {
    font-size: 16px;
  }
  .container .popUp-testimonial .add-testimonial {
    width: 80%;
  }
  .container .testimonial-section #t-head {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container .testimonial-section #t-head .prev-next-btn {
    margin-top: 30px;
    position: relative;
    width: 80%;
  }
  #countDown .ctimg1 {
    left: -40px;
    top: -34px;
  }
  #countDown .ctimg2 {
    right: -28px;
    top: -34px;
  }
  #countDown .ctimg3 {
    bottom: -27px;
    right: -32px;
  }
  #countDown .ctimg4 {
    left: -28px;
    bottom: -18px;
  }
}
@media screen and (max-width: 470px) {
  .container {
    padding: 0px 20px;
  }
  header .container .hero-container .hero-text {
    width: 80%;
  }
  #project-section .proj-btns .proj-btn {
    padding: 15px 15px;
    font-size: 16px;
  }
  .container .testimonial-section .testimonial-line {
    width: 100%;
  }
}
@media screen and (max-width: 426px) {
  header .container .hero-container .hero-text .heading-hero .hero-heading {
    font-size: 23px;
  }
  .container .hero-container .hero-text .hero-paragraph {
    line-height: 20px;
    font-size: 15px;
  }
  .container .hero-container .hero-text .hero-btn-text {
    flex-direction: column;
    align-items: flex-start;
  }
  header .container .hero-container .hero-img {
    width: 100%;
  }
  .container .hero-container .hero-text .hero-btn-text p {
    font-size: 14px;
    margin-left: 0px;
    margin-top: 30px;
  }
  .container .testimonial-section #t-head .section-heading {
    font-size: 22px;
  }
  .Allheading2 {
    font-size: 22px;
  }
  .container .testimonial-section #t-head .prev-next-btn a img {
    width: 15%;
  }
  .container .testimonial-section #testimonial .testimonial-container .card {
    width: calc(100vw - 35px);
  }
  #benefits .benefit-content .benef-heading .benef-headingCt .line {
    width: 85px;
  }
  .container #benefits .benefit-content .benef-heading p {
    font-size: 16px;
  }
  .container #benefits .benefit-ilustration img {
    width: 100%;
  }
  #wwa .wwa-content {
    width: 100%;
  }
  #wwa .wwa-img {
    display: none;
  }
  #wwa .wwa-content .wwa-tc .wwa-text p {
    font-size: 16px;
    line-height: 33px;
  }
  #cta-section .overlay .cta h3 {
    font-size: 32px;
  }
  #cta-section .overlay .cta h3 {
    font-size: 17px;
  }
  #project-section .proj-btns .proj-btn {
    font-size: 14px;
  }
  .container #project-section .proj-content {
    grid-template-columns: auto;
  }
  #process-section .process-content {
    flex-direction: column;
    align-items: center;
  }
  #process-section .process-content .process {
    margin-bottom: 100px;
  }
  footer .footer-container .navfooter ul li {
    margin-right: 0px;
  }
  footer .footer-container .navfooter ul li a {
    font-size: 14px;
  }
  .container .hero-container .hero-text .heading-hero .animated-block .animated-div.animate-business {
    width: 100%;
  }
  nav {
    padding: 0px 10px;
  }
  #wwa .wwa-content {
    padding: 0px 5px;
  }
  #cta-section .overlay .cta h2 {
    font-size: 14px;
  }
  #project-section .proj-btns {
    margin-top: 0px;
  }
  #wwa .wwa-content .wwa-tc .wwa-text p {
    line-height: 27px;
  }
  .sign-up-ct .right-block .form-block form .fl-name .firstLastN {
    width: 100%;
  }
  .sign-up-ct .right-block .form-block form .fl-name {
    flex-direction: column;
  }
  .sign-up-ct .right-block .form-block .su-heading {
    text-align: center;
    font-size: 28px;
  }
  #countDown .ctimg1 {
    left: -15px;
    top: -34px;
  }
  #countDown .ctimg2 {
    right: -14px;
    top: -34px;
  }
  #countDown .ctimg3 {
    bottom: -17px;
    right: -17px;
  }
  #countDown .ctimg4 {
    left: -10px;
    bottom: -27px;
  }
  #countDown .count-content .preHeading .prehead {
    font-size: 22px;
  }
  #countDown .count-content .counter .counter-element {
    font-size: 20px;
  }
  #countDown .count-content .counter .counter-element .timeFormat {
    font-size: 20px;
  }
}
@media screen and (max-width: 390px) {
  .container .testimonial-section #testimonial .testimonial-container .card {
    width: calc(100vw - 35px);
  }
  header .container .hero-container .hero-text .companys {
    margin-top: 29px;
  }
  header .container .hero-container .hero-img {
    width: 80%;
  }
  .container .hero-container .hero-text .hero-paragraph {
    line-height: 18px;
  }
  #countDown .ctimg4 {
    left: -16px;
    bottom: -17px;
  }
}
@media screen and (max-width: 355px) {
  #project-section .proj-content .single-project {
    width: 290px;
    height: 300px;
  }
  footer .footer-container .navfooter ul {
    flex-direction: column;
  }
  .container .testimonial-section #testimonial .testimonial-container .card .content-testimonial p {
    font-size: 16px;
  }
  #countDown .count-content .counter .counter-element {
    padding: 5px;
  }
}/*# sourceMappingURL=style.css.map */